<form class="myform" method="post" action="/form/signup">
  <input
    type="text"
    name="username"
  />

  <input
    type="password"
    name="password"
  />

  <button class="btn btn-danger" type="submit">Submit</button>
</form>